global
    daemon
    maxconn 256
    log 127.0.0.1 local0 notice

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    # https://www.haproxy.com/blog/websockets-load-balancing-with-haproxy/
    timeout tunnel 3600s
    timeout http-keep-alive 1s
    timeout http-request 15s
    timeout queue 30s
    timeout tarpit 60s
    # load-server-state-from-file global

frontend http-in
    bind *:8080
    option httplog
    option forwardfor
    default_backend servers

backend servers
    # I think that leastconn is probably the best bet here.
    balance roundrobin
    # option httpchk HEAD /
    cookie SRVID insert indirect nocache
    # server-template shiny 1-100 127.0.0.1:3838 check disabled
    server server1 shiny-server-config_shiny_1:3838 check cookie server1
    server server2 shiny-server-config_shiny_2:3838 check cookie server2
    server server3 shiny-server-config_shiny_3:3838 check cookie server3

listen stats
    bind *:9000 # Listen on localhost:9000
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth Username:Password
